*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* For mobile */
@media only screen and (max-width: 500px) {

    /* Block of code */
body{
    /* background-color: green; */
}
    .header-content{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
        gap: 20px;
        /* border: 2px solid white; */
    }
.header-intro{
    /* margin-top: 20px; */
        /* border: 2px solid red; */

}
.header-title{
    margin-top: 10px;
}
.header-intro p{
    margin-top: 10px;
}
.getintouch{
    background-color: blueviolet;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
}

/* section */

.body{
    background-color: black;
    color: white;
}

}
/* For tablet */
@media only screen and (max-width: 768px) {

    /* Block of code */

    .header-content{
        display: flex;
        /* flex-direction: column-reverse; */
        align-items: center;
        padding: 20px;
        gap: 20px;
        /* border: 2px solid white; */
    }
.header-intro{
    /* margin-top: 20px; */
        /* border: 2px solid red; */

}
.header-title{
    margin-top: 10px;
}
.header-intro p{
    margin-top: 10px;
}
.image{
    width: 400px;
}
.getintouch{
    background-color: blueviolet;
    padding: 10px;
    border: none;
   
    border-radius: 10px;
    color: white;
    margin-top: 10px;
}


}

/* For laptop */
@media only screen and (max-width: 1440px) {

    /* Block of code */


    /* Block of code */

    .header-content{
        display: flex;
        /* flex-direction: column-reverse; */
        align-items: center;
        padding: 20px;
        gap: 20px;
        /* border: 2px solid white; */
    }
.header-intro{
    /* margin-top: 20px; */
        /* border: 2px solid red; */

}
.header-title{
    margin-top: 10px;
}
.header-intro p{
    margin-top: 10px;
}
.image{
    width: 400px;
}
.getintouch{
    background-color: blueviolet;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
}



}